<!-- Copyright 2016 ForgeRock AS.
    License terms: https://forgerock.org/cddlv1-0/ -->
<section>
    <div class="container">
        <div class="page-header">
            <h1>{{t "config.AppConfiguration.Navigation.links.apps"}}
                <div  class="pull-right help-link">
                    <a href="{{docHelpUrl}}integrators-guide/index.html#openig" target="_blank">{{t "templates.apps.help"}} <i class="fa fa-question-circle"></i></a>
                </div>
            </h1>
        </div>
        <p class="section-help">{{t "templates.apps.description"}}</p>
        <div class="toolbar page-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-left left-group" role="group" aria-label="...">
                <a href="#apps/add/"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>{{t "templates.apps.addApp"}}</button></a>
            </div>
            <div class="pull-right">
                <div class="btn-group btn-icon" data-toggle="btns">
                    <a class="btn toggle-view-btn fr-btn-secondary active" href="#appCardContainer" data-toggle="tab"><i class="fa fa-th"></i></a>
                    <a class="btn toggle-view-btn fr-btn-secondary" href="#appsGridContainer" data-toggle="tab"><i class="fa fa-list"></i></a>
                </div>
                <div class="toolbar-search">
                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control filter-input" aria-label="App Filter" placeholder="{{t 'templates.apps.filter'}}">
                        <div class="form-control-feedback "><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="tab-content tab-content-transparent">
            <div id="appCardContainer" class="tab-pane active">
                <div class="row">
                    {{#each currentApps}}
                    <div class="col-sm-6 col-md-3 card-spacer" data-id="{{attributes._id}}" data-url="{{attributes.content.url}}" data-title="{{attributes.content.name}}">
                        <div class="card-container" style="z-index: 5;">
                            <div class="card">
                                <div class="card-heading">
                                    <div class="btn-group">
                                        <button type="button" id="{{attributes._id}}AppToggle" class="btn btn-link fa-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#apps/edit/{{attributes._id}}/"><i class="fa fa-pencil"></i>{{t "templates.apps.edit"}}</a></li>
                                            <li><a href="#apps/export/{{attributes._id}}/"><i class="fa fa-external-link"></i>{{t 'templates.apps.exportConfig'}}</a></li>
                                            <li class="app-duplicate"><a href="#"><i class="fa fa-copy"></i>{{t 'templates.apps.duplicate'}}</a></li>
                                            {{#if deployed}}
                                            <li class="app-undeploy"><a href="#"><i class="fa fa-ban"></i>{{t 'templates.apps.undeploy'}}</a></li>
                                            {{else}}
                                            <li class="app-deploy"><a href="#"><i class="fa fa-rocket"></i>{{t 'templates.apps.deploy'}}</a></li>
                                            {{/if}}
                                            <li class="divider"></li>
                                            <li class="app-delete"><a href="#"><i class="fa fa-times"></i>{{t "common.form.delete"}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="#apps/edit/{{attributes._id}}/">
                                        <div class="image circle">
                                            <i class="fa fa-rocket"></i>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">{{attributes.content.name}}</h3>
                                                <p class="cardtype">{{attributes.content.url}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    {{#if deployed}}
                                    <span class="text-success"><i class="fa fa-check-circle"></i> {{t "templates.apps.deployedState"}}</span>
                                    {{else}}
                                    <span data-title="{{error}}" class="text-danger resource-unavailable"><i class="fa fa-exclamation-circle"></i> {{t "templates.apps.undeployedState"}}</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="appsGridContainer" class="tab-pane">
                <div id="appsGrid"></div>
            </div>
        </div>
    </div>
</section>