<!-- Copyright 2016 ForgeRock AS.
    License terms: https://forgerock.org/cddlv1-0/ -->
<div class="toolbar toolbar-right">
    {{#if deployed}}
    <div class="right-separator">
        {{#if pendingChanges}}
        <span class="text-muted">{{t 'templates.apps.changesPending'}}</span>
        {{else}}
        <span class="text-success">
    	    <i class="fa fa-check-circle"></i>
			<strong class="hidden-xs">{{t 'templates.apps.deployedState'}}</strong>
  	    </span>
        <span class="text-muted hidden-xs">{{date deployedDate}}</span>
        {{/if}}
    </div>
    {{/if}}
    <div class="btn-group btn-icon ">
        {{#if allowDeploy}}
        <a href="#" class="btn btn-primary app-deploy"><i class="fa fa-cloud-upload"></i> {{t 'templates.apps.deploy'}}</a>
        {{else}}
        <a href="#" class="btn btn-default app-undeploy" rel="tooltip" title="{{t 'templates.apps.undeploy'}}"><i class="fa fa-ban fa-lg"></i></a>
        {{/if}}
    </div>
    <div class="btn-group btn-icon">
        <a href="{{ routeTo 'editAppView' _id }}" class="btn btn-default " rel="tooltip" data-placement="bottom" data-container="body" data-delay="500" title="{{t 'templates.apps.appSettings'}}"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="btn-group btn-icon">
        <button type="button" class="btn btn-default dropdown-toggle" rel="tooltip" data-placement="bottom" data-container="body" data-delay="500" title="{{t 'templates.apps.moreOptions'}}" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-ellipsis-v fa-lg"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li class="app-export"><a href="#"><i class="fa fa-external-link"></i>{{t 'templates.apps.exportConfig'}}</a></li>
            <li class="divider"></li>
            <li class="app-delete"><a href="#"><i class="fa fa-times"></i>{{t "common.form.delete"}}</a></li>
        </ul>
    </div>
</div>