<!-- Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
    
<div>
    <div class="page-header">
        <h1>Throttling</h1>
        <p class="panel-description">Limit the rate of operations on your api.</p>
    </div>
    <div class="block">
        <div class="panel panel-default">
            <div class="configuration-options radio-list">
                <form class="form-inline">
                    <ul class="list-unstyled panels panel-switch-group">
                        <li>
                            <div class="panel panel-default panel-card panel-switch disabled">
                                <div class="panel-heading">
                                    <div class="checkbox checkbox-slider-md checkbox-slider--b-flat checkbox-slider-primary">
                                        <label><input type="checkbox"><span></span></label>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <a class="media" data-target="#editThrottlingModal" data-toggle="modal" href="#">
                                        <div class="media-body">
                                            <h3 class="media-heading">Throttling</h3>
                                            <p class="status text-muted">Enable throttling to limit the rate of operations on your api.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="panel-footer">
                                    <div class="btn-group">
                                        <button class="btn btn-link" data-target="#editOpenIDConnectModal" data-toggle="modal" type="button"><i class="fa fa-pencil"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>